<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="yes" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>What Taylor Swift Era are you?</title>
   <link
     rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="static/style.css" />

   <style>
    body {
      background-image: url("https://www.inquirer.com/resizer/O-X-uF_1gEScJoCU472G3GcDNMk=/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/pmn/LLDZCWORHJDVJMM5I6GSKKCYSI.jpg");
      background-color: #cccccc;
      background-size:cover
    }

    .h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    </style>
</head>


<body>

    <div class="wrapper" style= 'text-align:center'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img
                          src="{{ url_for('static', filename='title.png') }}"
                          class="image"
                          alt="title"
                          style="max-width:100%;height:auto;"
                        />
                    <p><a class="btn btn-success btn-lg" href="/login"
                  role="button" >Login with Spotify</a></p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>