{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<!-- Response Data -->
<div class="media-body">
    <!-- <h1 style="color:blue;">Your Taylor Swift Era is...</h1>
    <dl class="dl-horizontal">
      <dd>{{ result }}</dd>
    </dl>
  </div>
</div> 
<div> -->
{% if result == "Taylor Swift Debut" %}
<img src="images/rep.jpeg" alt="rep" width="2000" height="2000">

{% elif result == "Fearless" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "Speak Now" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "Red" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "1989" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "reputation" %}
<img
  src="{{ url_for('static', filename='rep.jpeg') }}"
  class="image"
  alt="rep" 
  width="1000" 
  height="700"
/>

{% elif result == "Lover" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "Folklore" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "Evermore" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% elif result == "Midnights" %}
<img src="images/rep.jpeg" alt="rep" width="500" height="600">

{% else %}
<h3>You need to listen to more Taylor Swift</h3>

{% endif %}
</div>

{% endblock %}

{% block footer %}

<button type="button" class="btn btn-success btn-xs" onclick="refreshTokens()">Refresh Token</button>
<a href="/logout" class="btn btn-danger btn-xs">Logout</a>


<!-- Token info template -->
{% raw %}
<script id="token-template" type="text/x-handlebars-template">
  <dt>Access token</dt><dd class="text-truncate">{{access_token}}</dd>
  <dt>Refresh token</dt><dd class="text-truncate">{{refresh_token}}</dd>
</script>
{% endraw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.js"></script>
<script>
  (function() {

    // Token template
    var tokenSource = document.getElementById('token-template').innerHTML,
        tokenTemplate = Handlebars.compile(tokenSource),
        tokenPlaceholder = document.getElementById('tokens');

    function refreshTokens() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let res_json = JSON.parse(this.responseText);
          tokenPlaceholder.innerHTML = tokenTemplate(res_json);
        }
      };
      xhttp.open("GET", "{{ url_for('refresh') }}", true);
      xhttp.send();
    }

    window.refreshTokens = refreshTokens;
  })();
</script>
{% endblock %}