{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<!-- Response Data -->
  <div class="media-body">
    <h1 style="color:blue;">Your Taylor Swift Era is...</h1>
    <dl class="dl-horizontal">
      <dd>{{ result }}</dd>
    </dl>
  </div>
</div>

<div>
{% if result == "Taylor Swift Debut" %}
<iframe src="https://giphy.com/embed/3ohzUo9tgR6SVo3E2s" width="480" height="355" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3ohzUo9tgR6SVo3E2s">via GIPHY</a></p>

{% elif result == "Fearless" %}
<iframe src="https://giphy.com/embed/3o6gfPNJ4FHe8EIarK" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3o6gfPNJ4FHe8EIarK">via GIPHY</a></p>

{% elif result == "Speak Now" %}
<iframe src="https://giphy.com/embed/bgDd8eRNi6NK8" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylor-swift-bgDd8eRNi6NK8">via GIPHY</a></p>

{% elif result == "Red" %}
<iframe src="https://giphy.com/embed/EGT8bELJcw1PTFCwqP" width="480" height="180" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-taylors-version-i-bet-you-think-about-me-EGT8bELJcw1PTFCwqP">via GIPHY</a></p>

{% elif result == "1989" %}
<iframe src="https://giphy.com/embed/WMINluEOFkvAs" width="480" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylor-swift-gif-gifs-gifhunt-WMINluEOFkvAs">via GIPHY</a></p>

{% elif result == "Reputation" %}
<iframe src="https://giphy.com/embed/3ohc18TrhIm9JDu8jC" width="480" height="225" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-end-game-3ohc18TrhIm9JDu8jC">via GIPHY</a></p>

{% elif result == "Lover" %}
<iframe src="https://giphy.com/embed/XCm2qZBqbtw3IEoETJ" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-lover-music-video-XCm2qZBqbtw3IEoETJ">via GIPHY</a></p>

{% elif result == "Folklore" %}
<iframe src="https://giphy.com/embed/zIeW9pH03t6z2butT3" width="480" height="289" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nowthatsmusic-taylor-swift-cardigan-now-76-zIeW9pH03t6z2butT3">via GIPHY</a></p>

{% elif result == "Evermore" %}
<iframe src="https://giphy.com/embed/oO8JtuxP3KPvDvysdi" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-willow-evermore-oO8JtuxP3KPvDvysdi">via GIPHY</a></p>

{% elif result == "Midnights" %}
<iframe src="https://giphy.com/embed/8nyug9FhGXHhClCfDC" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/taylorswift-taylor-swift-taylorswift13-midnights-8nyug9FhGXHhClCfDC">via GIPHY</a></p>

{% else %}
<h3>You need to listen to more Taylor Swift</h3>

{% endif %}
</div>

{% endblock %}

{% block footer %}
<button type="button" class="btn btn-success btn-xs" onclick="refreshTokens()">Refresh Token</button>
<a href="/logout" class="btn btn-danger btn-xs">Logout</a>


<!-- Token info template -->
{% raw %}
<script id="token-template" type="text/x-handlebars-template">
  <dt>Access token</dt><dd class="text-truncate">{{access_token}}</dd>
  <dt>Refresh token</dt><dd class="text-truncate">{{refresh_token}}</dd>
</script>
{% endraw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.js"></script>
<script>
  (function() {

    // Token template
    var tokenSource = document.getElementById('token-template').innerHTML,
        tokenTemplate = Handlebars.compile(tokenSource),
        tokenPlaceholder = document.getElementById('tokens');

    function refreshTokens() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let res_json = JSON.parse(this.responseText);
          tokenPlaceholder.innerHTML = tokenTemplate(res_json);
        }
      };
      xhttp.open("GET", "{{ url_for('refresh') }}", true);
      xhttp.send();
    }

    window.refreshTokens = refreshTokens;
  })();
</script>
{% endblock %}